@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "varela round", sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  width: 85%;
}

.header__table {
  background-color: #4269b7;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.header__title {
  color: #fff;
  font-size: 26px;
  margin-bottom: 0;
}

.text {
  color: #60678c;
  font-size: 16px;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.container-footer {
  margin-bottom: 100px;
  width: 100%;
}

.btn-remove {
  background-color: #fff;
  border: none;
  color: #d26260;
  font-size: 18px;
}

.btn-remove:focus {
  outline: none;
}

.fa-plus-circle {
  margin-right: 3px;
}

.btn-success {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

.btn-success:focus {
  outline: none;
}

.btn-secondary {
  font-size: 18px;
}

.btn-primary {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-light {
  background-color: #ededed;
  font-size: 18px;
  margin-right: 10px;
}

.btn-danger {
  font-size: 18px;
}

#btn-cerrar {
  font-size: 20px;
}

/* #table2 {
  border: 2px solid orangered;
} */
.table__text {
  font-size: 16px;
  color: #60678c;
}

.table td {
  vertical-align: middle;
}

.table__title {
  font-size: 16px;
  color: #60678c;
  font-weight: bold;
}

.fade {
  opacity: 0;
  z-index: -100;
}

.show {
  opacity: 1;
  z-index: 999;
}

.container-modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  padding-top: 150px;
  top: 0;
  width: 100vw;
}

.modal-content {
  background-color: #fff;
  margin: 0 auto;
  height: 80%;
  transition: all 0.3s ease-out;
  opacity: 0;
  text-align: left;
  padding: 1rem;
  width: 40%;
}

.container {
  padding: 0;
}

.container-modal .close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.container-modal .close:hover,
.container-modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.active {
  opacity: 1;
  transform: translate(0%, -25%);
}

.modal-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.modal-footer {
  display: flex;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
}

.botones-modal {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}

.modal-content1 {
  position: fixed;
  top: 180px;
  left: 450px;
}

.modal-content2 {
  height: 50%;
  width: 45%;
}

.form-control {
  font-size: 16px;
  color: #60678c;
}

.title {
  font-size: 24px;
  color: #60678c;
}

.modal-subtitle {
  color: #60678c;
  margin: 0.5rem;
}

.modal-text {
  color: #c57826;
  font-size: 18px;
}

#sucursal-option {
  margin: 0.5rem 0 2rem 0;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
