.btn-remove {
  background-color: $color-white;
  border: none;
  color: $color-red;
  font-size: 18px;
}
.btn-remove:focus {
  outline: none;
}
.fa-plus-circle {
  margin-right: 3px;
}
.btn-success {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}
.btn-success:focus {
  outline: none;
}

.btn-secondary {
  font-size: 18px;
}
.btn-primary {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-light {
  background-color: hsl(0, 0%, 93%);
  font-size: 18px;
  margin-right: 10px;
}
.btn-danger {
  font-size: 18px;
}
#btn-cerrar {
  font-size: 20px;
}
