.container {
  background-color: $color-white;
  border-radius: 5px;
  margin-top: 50px;
  width: 85%;
}
.header__table {
  background-color: $color-blue;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.header__title {
  color: $color-white;
  font-size: 26px;
  margin-bottom: 0;
}

.text {
  color: $color-letras;
  font-size: 16px;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.container-footer {
  margin-bottom: 100px;
  width: 100%;
}
