.fade {
  opacity: 0;
  z-index: -100;
}
.show {
  opacity: 1;
  z-index: 999;
}
.container-modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  padding-top: 150px;
  top: 0;
  width: 100vw;
}

.modal-content {
  background-color: #fff;
  margin: 0 auto;
  height: 80%;
  transition: all 0.3s ease-out;
  opacity: 0;
  text-align: left;
  padding: 1rem;
  width: 40%;
}

.container {
  padding: 0;
}

.container-modal .close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.container-modal .close:hover,
.container-modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.active {
  opacity: 1;
  transform: translate(0%, -25%);
}

.modal-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.modal-footer {
  display: flex;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
}
.botones-modal {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}
.modal-content1 {
  position: fixed;
  top: 180px;
  left: 450px;
}
.modal-content2 {
  height: 50%;
  width: 45%;
}

.form-control {
  font-size: 16px;
  color: $color-letras;
}
.title {
  font-size: 24px;
  color: $color-letras;
}
.modal-subtitle {
  color: $color-letras;
  margin: 0.5rem;
}
.modal-text {
  color: hsl(31, 68%, 46%);
  font-size: 18px;
}
#sucursal-option {
  margin: 0.5rem 0 2rem 0;
}
